* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  display: block;
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background: #FFF1F1;
}
.painel-container{
    display: grid;
    grid-template-columns: 240px 1fr 300px;
    height: 100vh;
    background: white;
    color: white;
}