.calendario {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 6px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.monthYear {
  font-size: 10px;
  font-weight: bold;
  color: #6F00FF;
  text-transform: capitalize;
}

.btn-nav {
  background-color: transparent;
  border: none;
  font-size: 12px;
  color: #6F00FF;
  cursor: pointer;
  padding: 2px 4px;
}

.dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  margin-bottom: 3px;
}

.dia {
  text-align: center;
  font-size: 7px;
  font-weight: bold;
  color: #666;
}

.datas {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  flex: 1;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
}

.date:hover {
  background-color: #f0e6ff;
}

.date.inactive {
  color: #ddd;
}

.date.active {
  background-color: #6F00FF;
  color: white;
  font-weight: bold;
}
button{
  width: 20px;
  height: 20px;
  border-radius: 50% ;
  border: none;
}
button:hover{
  background: #6F00FF;
}