
        <div class="task-container" *ngIf="criando">
            <div class="cria-task" id="criar">
                <div class="criar">
                <input
                 type="date"
                 name=""
                 [(ngModel)]="novaData"
                  id=""/>
                <input type="text" [(ngModel)]="novaTarefa" placeholder="Adicione uma tarefa"/>
                <button (click)="addFuncao()" class="fex">Criar</button>
                <button (click)="fechar()" class="fex">Fechar</button>
                </div>
            </div>
        </div>
        <!-- Lista de tarefas -->
        <div class="painel-task">
            <div class="caixa-criacao-btn">
                <button class="criacao"  (click)="abrir()">Criar tarefa</button>
            </div>

            <ul class="pai-list">
                <li *ngFor="let tarefa of tarefas; let i = index" class="lista">
                    <span>{{ tarefa.titulo }}</span>
                    <div class="menu-wrapper">
                        <button class="hamburger" (click)="toggleMenu(i)">
                            ☰
                        </button>
                        <!-- Menu dropdown -->
                        <div class="dropdown" *ngIf="menuAberto === i">
                            
                            <button (click)="alterarStatus(i, 'concluida')">Concluída</button>
                            <button (click)="editTask(i)">Editar</button>
                            <button (click)="deleteTask(i)">Remover</button>
                        </div>

                    </div>
                </li>
            </ul>
        </div>