<div class="container-principal">
    <header class="barra-lateral">
        <div class="logo-marca">
            <img src="/img/taskon.png" alt="logo " class="logo-taskon">
        </div>
        <nav>
            <ul class="list-nav">
                <li>
                    <a href="principal.html">
                        <i class="bi bi-house-door-fill"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="bi bi-clipboard-check"></i>
                        Tarefas
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="bi bi-calendar3"></i>
                        Calendario
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="bi bi-graph-up-arrow"></i>
                        Produtividade
                    </a>
                </li>
            </ul>
        </nav>
        <div class="caixa-chat">
            <div class="chat">
                <h3>
                    Alguma dúvida?
                </h3>
                <p>
                    Fale com os nossos assistentes
                </p>
                <input type="submit" class="btn-chat" value="Chat">
            </div>
        </div>

    </header>
    <main>

        <!-- Caixa de criação -->
        <div class="task-container" *ngIf="criando">
            <div class="cria-task" id="criar">
                <div class="criar">
                <input type="text" [(ngModel)]="novaTarefa" placeholder="Adicione uma tarefa"/>
                <button (click)="addFuncao()" class="fex">Criar</button>
                <button (click)="fechar()" class="fex">Fechar</button>
                </div>
            </div>
        </div>

        <!-- Lista de tarefas -->
        <div class="painel-task">
            <div class="caixa-criacao-btn">
                <button class="criacao"  (click)="abrir()">Criar tarefa</button>
            </div>

            <ul class="pai-list">
                <li *ngFor="let tarefa of tarefas; let i = index" class="lista">
                    <span>{{ tarefa.titulo }}</span>

                    <div id="dnt-list">
                        <!-- Botões de status -->
                        <button class="editarBotao" (click)="alterarStatus(i, 'pendente')">
                            Pendente
                        </button>
                        <button class="editarBotao" (click)="alterarStatus(i, 'andamento')">
                            Andamento
                        </button>
                        <button class="editarBotao" (click)="alterarStatus(i, 'concluida')">
                            Concluída
                        </button>

                        <button class="editarBotao" (click)="editTask(i)">Editar</button>
                        <button class="removerBotao" (click)="deleteTask(i)">Remover</button>
                    </div>
                </li>
            </ul>
        </div>
    </main>

    <aside class="lateral-dire">

        <div>
            <div class="name-calendar">
                <h4>
                    Calendario
                </h4>
            </div>
            <div class="pai-calendar">
                <app-calendario></app-calendario>
            </div>
        </div>

        <div>
            <div class=" name-produti">
                <h4>
                    Produtividade
                </h4>
            </div>
            <div class="pai-produti">
                <app-produtividade
                    [pendente]="qtdPendente"
                    [andamento]="qtdAndamento"
                    [concluida]="qtdConcluida">
                </app-produtividade>
            </div>
        </div>

    </aside>
</div>