* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  display: block;
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background: #ffffff;
}
.taskon-img{
  width: 200px;
}
.containerPai {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 50px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.form-login {
  left: 0;
  z-index: 2;
}

.form-cadastro {
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

h2 {
  margin-bottom: 20px;
  color: #3B0270;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

input {
  width: 400px;
  padding: 12px;
  margin: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #6F00FF;
  outline: none;
  font-family: "Poppins", sans-serif;
}

input:focus {
  border-bottom: 2px solid #6F00FF;
}
button {
  padding: 12px 30px;
  border: none;
  border-radius: 20px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
}

.btn-entrar {
  background-color: #6F00FF;
  color: white !important;
  width: 400px;
  font-family: "Poppins", sans-serif;
}

.btn-entrar a:visited,
.btn-entrar a:hover,
.btn-entrar a:active {
  color: white !important;
}

.btn-entrar:hover {
  background-color: #5a00cf;
  transform: scale(1.02);
  transition: all 0.3s;
}

.rec-senha {
  color: #6F00FF;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  width: 400px;
  text-align: left;
  font-size: 12px;
}

.rec-senha:hover {
  text-decoration: underline;
}

.btn-roxo {
  margin-top: 20px;
  background-color: transparent;
  color: white;
  border: 2px solid #E9B3FB;
  font-family: "Poppins", sans-serif;
}

.btn-roxo:hover {
  background-color: #E9B3FB;
  color: #3B0270;
}

.painel-roxo {
  position: absolute;
  box-shadow: 0 0 10px 10px #E9B3FB;
  width: 50%;
  height: 100%;
  background: linear-gradient(#3B0270, #6F00FF
  );
  color: white;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  transition: transform 0.5s ease-in-out;
  z-index: 100;
}

#painel-texto h2 {
  color: #E9B3FB;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

.painel-roxo p {
  font-size: 25px;
}

.containerClicado .form-login {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
}

.containerClicado .form-cadastro {
  transform: translateX(100%);
  opacity: 1;
  pointer-events: all;
  z-index: 5;
}

.containerClicado .painel-roxo {
  transform: translateX(-100%);
}