<div class="containerPai" [class.containerClicado]="!mostrandoLogin">
  
  <!-- Formulário de Login -->
  <div class="formulario form-login">
    <h2>Login</h2>
    <input name="email" type="email" placeholder="Email" [(ngModel)]="email">
    <input name="senha" type="password" placeholder="Senha" [(ngModel)]="senha">
    <a href="#" class="rec-senha">Esqueceu a senha?</a>
        <!-- ademir: ainda está dando problema para linkar com o login -->
    <button class="btn-entrar" (click)="fazerLogin()">Entrar</button>
  </div>

  <!-- Formulário de Cadastro -->
  <div class="formulario form-cadastro">
    <h2>Cadastro</h2>
    <img src="" alt="">
    <input type="text" placeholder="Nome" [(ngModel)]="nome">
    <input type="email" placeholder="Email" [(ngModel)]="email">
    <input type="password" placeholder="Senha" [(ngModel)]="senha">
    <input type="password" placeholder="Confirmar senha" [(ngModel)]="confirmaSenha">
    <button class="btn-entrar" (click)="fazerCadastro()">Cadastrar</button>
  </div>

  
  <!-- Painel Roxo -->
  <div class="painel-roxo">
    <div id="painel-texto">
      <h2>{{ mostrandoLogin ? 'Ainda não tem conta?' : 'Já tem conta?' }}</h2>
      <p>{{ mostrandoLogin ? 'Cadastre-se agora!' : 'Faça login!' }}</p>
    </div>
    <button class="btn-roxo" (click)="alternarFormulario()">
      {{ mostrandoLogin ? 'Cadastre-se' : 'Entrar' }}
    </button>
  </div>

</div>
