:host{
    display: flex;
    height: 100%;
        /* definindo quem é pai e quem é filho*/
        .left-side {
            flex: 3;
            background-color: black;
            background-image: url(../../public/Taskon.png);
        }
        .rigth-side{
            flex: 1;
        }
}