#containerPai{
    display: flex;
    justify-content: space-between;
    height: 100%;
    background: linear-gradient(#6F00FF, #6F00FF, #E9B3FB);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF1F1;
    width: 420px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.logoMarca{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section h1{
    color:#6F00FF;
    text-align: left;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 200px;
    height: 400px;
    padding: 40px 25px;
}
input{
    width: 300px;
    border:none;
    border-bottom:2px solid #6F00FF;
    padding: 8px 8px ;
    margin: 8px;
    color: #6F00FF;
    background: none;
}
input:placeholder-shown{
    color: #6F00FF;
}
.submit{
    margin-top:10px;
    width: 150px;
    cursor: pointer;
    border:2px solid #6F00FF;
    color:#6F00FF;
    transition: ease background 0.3s, ease color 0.3s;
}
.submit:hover{
    background: #6F00FF;
    color: #FFF1F1;
}
a{
    color: #6F00FF;
    text-decoration: none;
    font-size: 10px;
    margin-left: 5px;
}
a:hover{
    color: #E9B3FB;
}