<div id="containerPai">
    <article>
        
        <section>
            <h1>Login</h1>
            <form (ngSubimt)="onSubmit()">
                <input [(ngMOdel)]="email" type="email" placeholder="E-mail:" required>
                <input [(ngModel)]="senha" type="password" placeholder="Senha:">
                <a id="" href="#">esqueci a senha</a><br>
                <input id="bntEntrar" type="submit" value="Entrar" class="submit">
            </form>
        </section>
    </article>
</div>

